{% extends 'base.html' %}

{% block content %}
  
    
    <style>
      .border-container {
        border: 1px solid #000000; /* Ajuste a largura da borda conforme necessário */
        padding: 10px; /* Ajuste o espaçamento interno conforme necessário */
        width: 300px; /* Ajuste a largura do contêiner conforme necessário */
        margin: 0 auto; 
    }
     .custom-btn-entrar {
        background-color: #F08080; /* Cor desejada para o botão */
        border: 1px solid #000; /* Adicione uma borda se desejar */
        color: #fff; /* Cor do texto do botão */
    }

    .custom-btn-entrar:hover {
        background-color: #D46A6A; /* Cor quando o mouse passa por cima */
        border: 1px solid #000; /* Adicione uma borda se desejar */
    }
     .form-group label {
        font-weight: bold;
    }

</style>
    


<div class="text-center mt-5 border-container">
    <h2>Usuário</h2>
    <div class="form-group d-flex flex-column align-items-center mb-3">
    <label class="mb-2">E-mail</label>
    {{ current_user.email }}
</div>

<div class="form-group d-flex flex-column align-items-center mb-3">
    <label class="mb-2">Nome</label>
    {{ current_user.nome }}
</div>

      

    <div class="text-center form-container mb-4">
    <a href="{{ url_for('logout') }}" class="btn btn-lg custom-btn-success" style="width: 200px;">Deslogar</a>
</div>
</div>
{% endblock %}