{% extends 'base.html' %}

{% block content %}
<style>
    .border-container {
        border: 1px solid #000000;
        padding: 10px;
        display: flex;
        flex-wrap: wrap; /* Quebra para a próxima linha conforme necessário */
        justify-content: center; /* Centraliza as listas horizontalmente */
    }

    .custom-btn-entrar {
        background-color: #F08080; /* Cor desejada para o botão */
        border: 1px solid #000; /* Adicione uma borda se desejar */
        color: #fff; /* Cor do texto do botão */
    }

    .custom-btn-entrar:hover {
        background-color: #D46A6A; /* Cor quando o mouse passa por cima */
        border: 1px solid #000; /* Adicione uma borda se desejar */
    }

    .form-group label {
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap; /* Quebra para a próxima linha conforme necessário */
    }

    li {
        margin-right: 10px; /* Espaço entre as listas */
        margin-bottom: 10px; /* Espaço abaixo de cada linha de listas */
    }
</style>

<script>
    {% if csrf_token %}
        function deletarmaterias(idmaterias) {
            if (confirm('Tem certeza que deseja deletar esta matéria?')) {
                console.log(`ID da matéria a ser deletada: ${idmaterias}`);
                fetch(`/deletar_materias/${idmaterias}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}'
                    },
                    body: JSON.stringify({})
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro na solicitação de deleção');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        alert('Matéria deletada com sucesso.');
                        window.location.reload();
                    } else {
                        alert('Erro ao deletar matéria.');
                    }
                })
                .catch(error => {
                    console.error('Erro na solicitação de deleção:', error);
                });
            }
        }
    {% endif %}
</script>

<h2>Todas as matérias</h2>
<div class="text-center mt-5 border-container">
    <ul>
        {% for materia in materias %}
            <div>
                <li>{{ materia.nome }}</li>
                <li>{{ materia.data }}</li>
                <li>{{ materia.hora }}</li>
                <li>{{ materia.professor }}</li>
                <a href="{{ url_for('atualizar_materia', idmaterias=materia.idmaterias) }}" class="btn btn-lg custom-btn-success">Atualizar</a>
                <button onclick="deletarmaterias({{ materia.idmaterias }})"class="btn btn-lg custom-btn-success">Deletar</button>
            </div>
        {% endfor %}
    </ul>
</div>

<div class="text-center form-container mb-4">
    <a href="{{ url_for('materias') }}" class="btn btn-lg custom-btn-success">Cadastrar materias</a>
    <!-- Adicione ou ajuste qualquer lógica relacionada às matérias aqui -->
</div>

{% endblock %}
