{% extends 'base.html' %}

{% block content %}
  <form method="POST" action="{{ url_for('materias') }}">
    {{ form.hidden_tag() }}  
    {{ form.csrf_token() }}  
    
    <style>
      .border-container {
        border: 1px solid #000000;
        padding: 10px;
        width: 300px;
        margin: 0 auto; 
      }
      
      .custom-btn-entrar {
        background-color: #F08080;
        border: 1px solid #000;
        color: #fff;
      }

      .custom-btn-entrar:hover {
        background-color: #D46A6A;
        border: 1px solid #000;
      }

      .form-group label {
        font-weight: bold;
      }
    </style>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


    <div class="text-center mt-5 border-container">
      <h2>Matérias</h2>
      
      <div class="form-group d-flex flex-column align-items-center mb-3">
        <label for="{{ form.nome.id }}" class="mb-2">Nome</label>
        {{ form.nome(class="form-control rounded-pill", placeholder="Nome", style="width: 200px;") }}
        {% for error in form.nome.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group d-flex flex-column align-items-center mb-3">
        <label for="{{ form.data.id }}" class="mb-2">Data</label>
        {{ form.data(class="form-control rounded-pill", placeholder="Data", style="width: 200px;") }}
        {% for error in form.data.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group d-flex flex-column align-items-center mb-3">
        <label for="{{ form.hora.id }}" class="mb-2">Hora</label>
        {{ form.hora(class="form-control rounded-pill", placeholder="HH:MM", style="width: 200px;") }}
        {% for error in form.hora.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group d-flex flex-column align-items-center mb-3">
        <label for="{{ form.professor.id }}" class="mb-2">Professor(a)</label>
        {{ form.professor(class="form-control rounded-pill", placeholder="Professor(a)", style="width: 200px;") }}
        {% for error in form.professor.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
      <script>
        $(document).ready(function(){
          $('#{{ form.hora.id }}').timepicker({
            showMeridian: false,
          });

          // Ao enviar o formulário, formate a hora antes de enviar para o servidor
          $('form').submit(function() {
            var horaInput = $('#{{ form.hora.id }}');
            var horaFormatada = formatarHoraParaBancoDeDados(horaInput.val());
            horaInput.val(horaFormatada);
          });

          function formatarHoraParaBancoDeDados(hora) {
            // Use o Moment.js para formatar a hora para o formato desejado
            var momento = moment(hora, 'HH:mm A');
            return momento.format('HH:mm:ss');
          }
        });
      </script>

      <button type="submit" class="btn custom-btn-entrar rounded-pill">Salvar</button>
    </div>
  </form>
{% endblock %}

